include README.md
include LICENSE
include requirements.txt
include setup.py
include pyproject.toml
recursive-include lema001 *.py
recursive-include tests *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo
